<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./footerComponent.css">
    <link rel="stylesheet" href="../../../public/global/css/style.css">
</head>
<body>
    <main id="app">
        <main-footer></main-footer> 
    </main>
</body>
<script type="module" src="./footer.js"></script>
</html>